<div class="container center" style="padding: 2em 0">
	<div class="container" style="width: 70%; margin: 0 auto">
		<h1>Snaply valuation tops $1 Billion after <br />bold VC investment. </h1>
		<h4 style="font-weight: 300; color: #888; line-height: 1.5em">Snaply is now a $1 billion dollar company, according to a group of investors who have agreed to purchase 0.000000001% of the company in exchange for $1, which was spent that afternoon.</h4>
	</div>
	
</div>
</div>
	<img style="width: 100%; height: auto" src="http://i.huffpost.com/gen/1371671/thumbs/o-TAKING-PHOTO-OF-FOOD-facebook.jpg" />
<div class="container">
	<div class="container" style="width: 70%; margin: 0 auto">
	
	<br /><hr /><br />
		
		<h4>In order to increase the value of the company, Snaply has decided to stop generating revenues. </h4>
		
		<blockquote style="margin: 2em 0"><p>“When it comes to valuation, making money is a real obstacle. Our profitability has been a real drag on our valuation,” said Mr. Pumpernickel, Chief of Hygiene. </p></blockquote>
		
		<p>“Once you have profits, it’s impossible to just make stuff up. That’s why we’re switching to a ‘freeconomics’ model. We’ll give away everything for free and let the market speculate about how much money we could make if we wanted to make money. That way, the sky’s the limit.”</p>
		
		
		<p>A $100 billion value for Snaply is “not outlandish,” says Aanandamayee Bhatnagar, a finance professor and valuation guru at Grenada State’s Schnook School of Business. Bhatnagar points to a leaked, confidential corporate strategy plan that projects Snaply will attract twelve billion users by the end of 2015.</p>

<p>How will the company overcome the fact that there are only 6.8 billion people alive today? “Why limit users to people?” said Bhatnagar.</p>

<p>In order to determine the valuation of companies, Bhatnagar typically applies the following formula: [(Twitter followers x Facebook fans) + (# of employees x 1000)] x (RSS subscribers + daily page views) + (monthly burn rate x Google’s stock price)2 and then doubles if it they use Ruby on Rails or if the CEO has run a business into the ground before. Bhatnagar admits the math is mostly a guess but points out that “the press eats it up.”</p>

<p>To help handle the burdens of an increased valuation, Snaply hired former YouTube exec Craig Mirage as Chief Operating Officer earlier this month. Mirage hopes to replicate YouTube’s valuation success at Snaply. “Of course, the investment comes with great expectations. But you should see the spreadsheet models we’re making up. Really breakthrough stuff,” said Mirage.</p>

<p>“Snaply will lead the new global movement filled with imaginary assumptions on growth and monetization potential,” he continued. “We’re excited to roll out a list of unconfirmed revenue possibilities that involve crowdsourcing, a robust set of widget creation tools, 3G, augmented reality, social stuff, and an app store. Also, everything we make will include a compass.”</p>
		
	</div>