<div class="jumbotron center">

	<% if user_signed_in? %>
	
		<h1 style="font-weight: 100; letter-spacing: -2px">Welcome aboard!</h1>
		<h4 style="opacity: 0.6">Ready to post your first snap or what?</h4>
		<br />
		<p>
			<%= link_to "Post a Snap", new_pin_path, class: "btn btn-primary btn-lg", style: "font-size: 1em; padding: 1em 2em" %>
		</p>	
			
	<% else %>
	
		<h1 style="font-weight: 100; letter-spacing: -2px">Welcome to <span style="font-weight: 700; color: #2c3e50;">snaply.</span></h1>
	<small class="small" style="opacity: 0.5">If you are looking for obese puppies, <a target="_blank" href="http://trupanion.com/blog/wp-content/uploads/2012/01/bigboned.jpg">click here.</a></small><br /><br />
	
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %>

</div>

